.pocket-view {
    display: inline-block;
    min-width: 70px;
    height: 103px;
}

.main-deck {
    position: relative;
}

.selection-pocket {
    width: max-content;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0);
}

.count-pocket {
    display: inline-block;
    position: relative;
}

.single-card-pocket .card-view {
    position: absolute;
}

.count-pocket-inner {
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}