.game-options-editor {
    margin-right: 1em;
}

.game-options-group {
    width: fit-content;
    border: 2px solid #2d1000ff;
    border-radius: 1em;
    background-color: #ffffff38;
    padding: 1em;
    margin: 0.5em auto;
}

.game-options-group .collapsible-visible {
    max-height: 22em;
}

.option-checkbox label {
    margin-left: 0.3em;
}

.option-left-column {
    display: inline-block;
    margin-right: 0.3em;
    width: 14em;
}

.option-number input {
    padding: 0.1em;
    margin: 0.1em;
    border-radius: 0.2em;
    width: 3.5em;
}