.game-options-editor {
    margin-right: 1em;
}

.expansion-checkboxes {
    width: fit-content;
    border: 2px solid #2d1000ff;
    border-radius: 1em;
    background-color: #ffffff38;
    padding: 1em;
    margin: 0.5em auto;
}

.expansions-header {
    font-weight: bold;
    text-align: center;
    font-size: 13pt;
}

.option-checkbox label {
    margin-left: 0.3em;
}

.option-number label {
    display: inline-block;
    margin-right: 0.3em;
    width: 10em;
}

.option-number input {
    padding: 0.1em;
    margin: 0.1em;
    border-radius: 0.2em;
    width: 5em;
}