:root {
    --profile-pic-size: 50px;
}

.lobby-user {
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
}

.lobby-user-disconnected {
    color: #505050;
}

.lobby-user-disconnected img {
    filter: grayscale(80%) contrast(70%);
}

.lobby-user .timer-widget {
    --timer-size: 1.5em;
}

.flex-row .lobby-username {
    margin-left: 0.4em;
}

.button-rejoin {
    margin-left: 0.4em;
}

.lobby-username {
    font-weight: bold;
    z-index: 3;
    max-width: 20em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.lobby-user-inner {
    position: relative;
    display: inline-block;
    height: var(--profile-pic-size);
    width: var(--profile-pic-size);
}

.lobby-user-inner img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.lobby-username-self {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.6));
}