@media (max-width:960px) {
    :root {
        --profile-pic-size: 25px;
    }

    .lobby-user {
        font-size: 8pt;
    }
}

@media (min-width:960px) {
    :root {
        --profile-pic-size: 50px;
    }
}

.lobby-user {
    text-align: center;
    display: flex;
    align-items: center;
}

.flex-row .lobby-username {
    margin-left: 0.4em;
}

.lobby-username {
    font-weight: 500;
    font-weight: bold;
}

.lobby-user-inner {
    position: relative;
    display: inline-block;
    height: var(--profile-pic-size);
    width: var(--profile-pic-size);
}

.lobby-user-inner img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}