.overlay-buttons {
    position: fixed;
    right: 1em;
    bottom: 1em;

    z-index: 20;

    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .overlay-buttons {
        right: 0.5em;
        bottom: 0.5em;
    }
}

.lobby-chat-box {
    display: flex;

    position: fixed;
    right: 1em;
    bottom: 4.5em;

    width: calc(min(20em, 100vw - 2em));
    max-height: 60vh;
    
    flex-direction: column;
}

.lobby-chat-messages {
    background-color: rgba(255, 255, 255, 0.8);
    overflow-y: auto;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

.lobby-chat-form {
    display: flex;
    flex-direction: row;
}

.lobby-chat-form input {
    width: 100%;
    margin-right: 0.5em;
}

.username {
    font-weight: bold;
}

.server-message {
    color: blue;
}