:root {
    --card-width-plus-margin: calc(var(--card-width) + 2 * var(--card-margin));
    --card-height-plus-margin: calc(var(--card-height) + 2 * var(--card-margin));
}

.pocket-view, .card-size {
    display: inline-block;
    height: var(--card-height-plus-margin);
    vertical-align: middle;
}

.card-size {
    width: var(--card-width-plus-margin);
}

.align-slot .pocket-view {
    min-width: var(--card-width-plus-margin);
    width: max-content;
}

.count-pocket .card-slot {
    margin: unset;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}