:root {
    --card-width-plus-margin: calc(var(--card-width) + 2 * var(--card-margin));
    --card-height-plus-margin: calc(var(--card-height) + 2 * var(--card-margin));
}

.pocket-view {
    display: inline-block;
    height: var(--card-height-plus-margin);
    vertical-align: middle;
}

.stack-pocket .card-slot {
    margin: unset;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pocket-group {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    outline: 2px solid rgb(80, 80, 80);
    border-radius: 0.2em;
    margin: 0 0.3em;
}

.card-faded .card-front::before {
    pointer-events: none;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: var(--card-border);
}