.stack-pocket {
    display: inline-block;
    position: relative;
    height: max-content;
}

.stack-pocket .pocket-view {
    width: var(--card-width-plus-margin);
}

.stack-pocket .card-view {
    position: absolute;
    left: 0;
    top: 0;
}

.stack-pocket .card-view:not(:last-child).card-targetable {
    --card-highlight-color: unset !important;
}

.stack-pocket .card-view:not(:last-child).card-selected {
    --card-highlight-color: unset !important;
}

.stack-pocket .card-view:not(:last-child).card-highlight {
    --card-highlight-color: unset !important;
}

@property --card-translate-y {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

.stack-pocket .card-view {
    transition-property: --card-translate-y;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    --card-translate-y: 0%;

    transform: translateY(var(--card-translate-y));
}

.stack-pocket .card-view:not(:last-child).card-origin {
    pointer-events: all;
    --card-translate-y: -40%;
}

.stack-pocket .card-view:not(:last-child).card-modified {
    pointer-events: all;
    --card-translate-y: -40%;
}

.stack-pocket .card-view:not(:last-child).card-current {
    pointer-events: all;
    --card-translate-y: -40%;
}

.pocket-count {
    text-shadow: 0px 0px 4px white, 0px 0px 4px white, 0px 0px 4px white, 0px 0px 4px white;
    font-weight: bold;
    font-size: 16pt;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;
}

@media (max-width: 1200px) {
    .pocket-count {
        font-size: 12pt;
    }
}