.station-card {
    display: inline-block;
    margin: var(--card-margin);
}

.stations-view {
    display: inline-block;
    vertical-align: middle;
    height: var(--card-height-plus-margin);
}

.station-card {
    filter:
        drop-shadow(0px 0px 3px var(--card-highlight-color))
        drop-shadow(1px 1px 3px var(--card-highlight-color))
        drop-shadow(-1px -1px 3px var(--card-highlight-color));

    transform: translateY(-5%) scale(120%);
}

.station-card-img {
    background-color: rgb(208,52,37);
    background: linear-gradient(180deg, rgba(208,52,37,1) 0%, rgba(240,216,156,1) 76%, rgba(180,106,69,1) 77%);
    width: var(--card-width);
    height: var(--card-height);

    mask-image: url('/media/mask_station.svg');
    mask-size: 100%;
}