.lobby-chat-box {
    display: flex;

    position: fixed;
    right: 1em;
    bottom: 4.5em;

    width: calc(min(20em, 100vw - 2em));
    max-height: 60vh;

    flex-direction: column;
}

.lobby-chat-bubble-outer {
    position: fixed;
    right: 1em;
    bottom: 4.5em;
    max-width: calc(min(20em, 100vw - 2em));
    
    filter: drop-shadow(1px 1px 2px black);
}

.lobby-chat-bubble {
    background-color: rgba(255, 255, 255, 0.8);

    --r: 0.5em; /* the radius */
    --t: 0.5em; /* the size of the tail */

    padding: 0.2em 0.5em;
    border-right: var(--t) solid #0000;
    mask:
        radial-gradient(var(--t) at 100% 0, #0000 98%, #000 102%) 100% 100%/calc(100% - var(--r)) var(--t) no-repeat,
        conic-gradient(at var(--r) var(--r), #000 75%, #0000 0) calc(var(--r)/-2) calc(var(--r)/-2) padding-box,
        radial-gradient(closest-side at 50% 50%, #000 98%, #0000 101%) 0 0/var(--r) var(--r) space padding-box;
}

.lobby-chat-messages {
    background-color: rgba(255, 255, 255, 0.8);
    overflow-y: auto;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

.lobby-chat-form {
    display: flex;
    flex-direction: row;
}

.lobby-chat-form input {
    width: 100%;
    margin-right: 0.5em;
}

.username {
    font-weight: bold;
}

.server-message {
    color: blue;
}