.overlay-buttons {
    position: fixed;

    width: 100%;

    padding: 1em;
    bottom: 0;

    z-index: 20;

    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .overlay-buttons {
        padding: 0.5em;
    }
}