:root {
    --overlay-margin: 1em;
}

@media (max-width: 768px) {
    :root {
        --overlay-margin: 0.5em;
    }
}

.overlay-buttons {
    position: fixed;

    width: calc(100% - 2 * var(--overlay-margin));
    left: var(--overlay-margin);
    bottom: var(--overlay-margin);

    z-index: 20;

    display: flex;
    flex-direction: row-reverse;
}