.password-input-wrapper {
    position: relative;
    display: inline-block;
}

.password-toggle-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}