.tooltip {
    display: inline-block;
    position: relative;
    background: #00000040;
    margin-left: 0.2em;
    --tooltip-size: 1.2em;
    --tooltip-background-color: rgba(0, 0, 0, 0.9);
    width: var(--tooltip-size);
    height: var(--tooltip-size);
    line-height: var(--tooltip-size);
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    cursor: help;
    font-weight: bold;
    color: white;
}

.tooltip .tooltiptext {
    pointer-events: none;
    font-weight: normal;
    display: none;
    background-color: var(--tooltip-background-color);
    text-align: center;
    padding: 0.2em 0.5em;
    border-radius: 6px;
   
    position: absolute;
    z-index: 1;
    
    bottom: 100%;
    left: 50%;

    width: 15em;
    transform: translateX(-50%);
}

.tooltip:hover .tooltiptext {
    display: unset;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-background-color) transparent transparent transparent;
  }