:root {
    --card-width-unscaled: 250px;
    --card-height-unscaled: 389px;
    --card-border-unscaled: 18px;
    --one-hp-size-unscaled: 75px;
    
    --card-width: calc(var(--card-scale) * var(--card-width-unscaled));
    --card-height: calc(var(--card-scale) * var(--card-height-unscaled));
    --card-border: calc(var(--card-scale) * var(--card-border-unscaled));
    --one-hp-size: calc(var(--card-scale) * var(--one-hp-size-unscaled));

    --card-margin: 0.2em;
}

.card-view {
    display: inline-flex;
    position: relative;
    transform-style: preserve-3d;
    margin: var(--card-margin);
}

.card-front, .card-back, .card-back-flip {
    height: min-content;
    position: relative;
    backface-visibility: hidden;
}

.card-back-flip {
    position: absolute;
    transform: rotateY(180deg);
}

.card-cubes {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    text-align: center;
    white-space: normal;
    line-height: 0;
}

.card-cubes img {
    display: inline;
    margin: 0 1px;
}

@media (max-width:1200px) {
    .card-cubes {
        width: 100%
    }

    .card-cubes img {
        width: 10px;
    }
}

.card-horizontal {
    transform: rotate(90deg);
}

.card-selected {
    --card-highlight-color: red;
}

.card-targetable {
    --card-highlight-color: #eca60e;
    cursor: pointer;
}

.card-targetable:hover {
    --card-highlight-color: #cf920f;
}

.card-selected.card-targetable {
    --card-highlight-color: rgb(255, 38, 0) !important;
}

.card-selected.card-targetable:hover {
    --card-highlight-color: rgb(180, 27, 0) !important;
}

.card-current {
    --card-highlight-color: #306eff;
}

.card-pickable {
    --card-highlight-color: #e6f32bad;
    cursor: pointer;
}

.card-pickable:hover {
    --card-highlight-color: #cdda1fad;
}

.card-pickable.card-selected {
    --card-highlight-color: #ff1e00ad !important;
    cursor: unset !important;
}

.card-playable {
    --card-highlight-color: #1ed760aa;
    cursor: pointer;
}

.card-playable:hover {
    --card-highlight-color: #189b46de;
}

.card-modified {
    --card-highlight-color: #4470d6b7;
}

.card-highlight {
    --card-highlight-color: red;
}

.card-origin {
    --card-highlight-color: cyan;
}

.card-cube {
    border-radius: 50%;
}

.card-targetable-cubes {
    cursor: pointer;
}

.card-targetable-cubes .card-cube {
    background-color: #ffa000ff;
    box-shadow: 0px 0px 3px 3px #ffa000ff;
}

.card-targetable-cubes:hover .card-cube {
    background-color: rgb(202, 128, 0);
    box-shadow: 0px 0px 3px 3px rgb(202, 128, 0);
}

.card-cube-selected {
    background-color: #ff0000d0 !important;
    box-shadow: 0px 0px 3px 3px #ff0000d0 !important;
}

.card-view-img {
    background-color: white;
    border-radius: var(--card-border) var(--card-border);
    box-shadow: 0px 0px 3px 3px var(--card-highlight-color);
    width: var(--card-width);
    height: var(--card-height);
}

.card-view-inner {
    position: absolute;
    left: 4%;
    bottom: 2%;
    width: max-content;
    line-height: 0;
    scale: calc(var(--card-scale) * 2);
    transform-origin: bottom left;
}

.card-view-inner img {
    display: inline;
}