.card-view {
    display: inline-flex;
    margin: 5px;
    position: relative;
    width: 60px;
    height: min-content;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    height: min-content;
    position: relative;
    backface-visibility: hidden;
}

.card-back {
    position: absolute;
    transform: rotateY(180deg);
}

.card-horizontal {
    transform: rotate(90deg);
}

.card-view-img {
    border-radius: 4px 4px;
}

.card-view-inner {
    position: absolute;
    left: 6%;
    bottom: 4%;
}

.card-view-inner img {
    vertical-align: bottom;
    display: inline;
    width: 25%;
    bottom: 0;
}

.card-overlay {
    z-index: 1;
}

.card-hidden {
    visibility: hidden;
}