.card-choice {
    position: absolute;
    width: max-content;
    left: 50%;
    top: 50%;
    z-index: 20;
}

.card-choice-inner {
    transform: translate(-50%, -50%) translate(0, 1.5em);
}

.card-choice .card-view {
    margin: 0.3em;
}