.card-slot {
    display: inline-block;
    width: var(--card-width-plus-margin);
    height: var(--card-height);
    margin-top: var(--card-margin);
}

.card-slot-stretch {
    animation-name: stretch;
    animation-duration: var(--duration);
    animation-fill-mode: both;
    transition: ease-out;
}

.card-slot-stretch-in {
    animation-direction: reverse;
}

@keyframes stretch {
    from {
        width: 0;
    }
}