.card-choice {
    position: absolute;
    left: var(--card-anchor-x);
    top: var(--card-anchor-y);
    height: var(--card-height);
    z-index: 5;
}

.card-choice-inner {
    transform: translate(-50%, -50%) translate(0, 1.5em);
}

.card-choice .card-view {
    margin: 0.3em;
}