.game-log-box {
    display: block;
    
    position: fixed;
    right: 1em;
    bottom: 5.5em;

    width: calc(min(25em, 100vw - 2em));
    height: 60vh;

    overflow-y: auto;
    font-size: 10pt;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.8);
}