:root {
    --table-cubes-width: calc(var(--card-width) + 1em);
}

.game-scene-top {
    width: calc(100vw - 2em);
    height: 100%;
    display: flex;
    flex-direction: row;
}

.game-scene {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.status-text {
    margin: auto;
    height: 6em;
}

.main-deck-row {
    margin: auto;
    vertical-align: middle;
    margin-top: 2em;
    margin-bottom: 4em;
}

.table-cubes {
    width: var(--table-cubes-width);
    font-weight: bold;
    text-align: center;
}

.table-cubes img {
    display: inline;
    height: 2em;
    margin: 2px;
}