.game-scene {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.status-bar {
    position: fixed;
    z-index: 20;
    left: 50%;
    bottom: 1.5em;
    background-color: #ffffffd0;
    border-radius: 0.5em 0.5em;
    padding: 0.5em;
    text-align: center;
    max-width: 100vw;
    transform: translateX(-50%);
    text-shadow: 1px 1px 4px #00000080;
}

.status-bar-error {
    outline: 2px solid #a00000d0;
}

.status-bar button {
    margin: 0.2em 0.4em;
}

.main-deck-row {
    text-align: center;
    margin: 2em auto;
}

@media (min-width: 1200px) {
    .main-deck-row {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-around;
        min-width: 50vw;
    }
}

@media (max-width: 1200px) {
    .main-deck-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 960px) {
    .status-bar {
        font-size: 10pt;
        line-height: 12pt;
        bottom: 0.5em;
    }

    .main-deck-row {
        margin-top: 0.5em;
    }
}

.table-cubes {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    height: var(--card-height-plus-margin);
    vertical-align: middle;
    justify-content: center;
}

.table-cubes img {
    height: 2em;
}

@media (min-width: 1200px) {
    .table-cubes {
        flex-direction: row;
        margin: 0 0.2em;
    }

    .table-cubes img {
        margin-right: 0.2em;
    }
}

@media (max-width: 1200px) {
    .table-cubes {
        flex-direction: column;
        font-size: 10pt;
    }

    .table-cubes img {
        height: 1.8em;
    }

    .table-cubes * {
        display: block;
    }
}