.game-scene-top {
    width: calc(100vw - 2em);
    height: 100%;
    display: flex;
    flex-direction: row;
}

.game-scene {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.status-text {
    height: 50px;
}

.table-cubes {
    width: 80px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.table-cubes img {
    display: inline;
    height: 2em;
    margin: 2px;
}