.game-log-view {
    width: 300px;
    max-height: calc(100vh - 400px);

    overflow-y: auto;
    font-size: 9pt;
    margin-top: 1em;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.2);
}