.game-users-outer {
    order: 2;
}

.game-users-box {
    z-index: 10;
    display: block;
    
    position: fixed;
    right: 1em;
    bottom: 4.5em;

    min-width: 200px;
    max-height: calc(100vh - 10em);

    overflow-y: auto;
}

.game-users-box .lobby-user {
    outline: 2px solid #2d1000ff;
    background-color: #cec9b8e0;
    border-radius: 0.5em;
    margin: 0.4em;
    padding: 0.2em;
    font-size: 10pt;
}

.game-users-box .lobby-user.lobby-user-winner {
    outline-color: #bba14f;
}

.game-users-box .lobby-user.lobby-user-spectator {
    outline: none;
    background-color: #cec9b888;
}