.lifepoint-fade-in {
    animation-name: fade-in-green;
    animation-duration: var(--duration);
    animation-fill-mode: both;
    transition: ease-in;
}

@keyframes fade-in-green {
    from {
        opacity: 0;
        filter: invert(58%) sepia(93%) saturate(2564%) hue-rotate(81deg) brightness(112%) contrast(128%);
        transform: translateX(1em) rotate(-30deg);
    }
}

.lifepoint-fade-out {
    animation-name: fade-out-red;
    animation-duration: var(--duration);
    animation-fill-mode: both;
    transition: ease-in;
}

@keyframes fade-out-red {
    to {
        opacity: 0;
        filter: invert(11%) sepia(88%) saturate(7478%) hue-rotate(2deg) brightness(107%) contrast(111%);
        transform: translateX(1em) rotate(30deg);
    }
}

.player-view.player-animation-death {
    animation-name: player-death;
    animation-duration: var(--duration);
    animation-fill-mode: both;
    transition: ease-in;
}

.player-view.player-animation-death .player-pocket-scroll {
    visibility: hidden;
}

.player-view.player-animation-death .player-character-row-scroll {
    overflow-x: unset;
    overflow-y: unset;
}

.player-view.player-animation-death .player-character-row-scroll-self {
    overflow-x: unset;
    overflow-y: unset;
}

@keyframes player-death {
    from {
        height: calc(var(--player-row-height) * 2);
    }
    to {
        width: calc(var(--card-width-plus-margin) * 2.5);
        height: calc(var(--player-row-height) + 1em);
    }
}