@property --num-players {
    syntax: "<number>";
    inherits: true;
    initial-value: 1;
}

@property --player-index {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

.game-scene[num-players="1"] { --num-players: 2; }
.game-scene[num-players="2"] { --num-players: 2; }
.game-scene[num-players="3"] { --num-players: 3; }
.game-scene[num-players="4"] { --num-players: 4; }
.game-scene[num-players="5"] { --num-players: 5; }
.game-scene[num-players="6"] { --num-players: 6; }
.game-scene[num-players="7"] { --num-players: 7; }
.game-scene[num-players="8"] { --num-players: 8; }

.player-grid-item[player-index="0"] { --player-index: 0; }
.player-grid-item[player-index="1"] { --player-index: 1; }
.player-grid-item[player-index="2"] { --player-index: 2; }
.player-grid-item[player-index="3"] { --player-index: 3; }
.player-grid-item[player-index="4"] { --player-index: 4; }
.player-grid-item[player-index="5"] { --player-index: 5; }
.player-grid-item[player-index="6"] { --player-index: 6; }
.player-grid-item[player-index="7"] { --player-index: 7; }

@media (min-width:768px) {
    .game-scene {
        transition: --num-players 800ms ease-in-out;
    }

    .game-scene * {
        --card-scale-max: 0.24;
        --card-scale-mul: 0.015;

        --card-scale: calc(min(0, (6 - var(--num-players)) * var(--card-scale-mul) ) + var(--card-scale-max));
    }

    .player-grid {
        position: relative;
        
        --ellipse-x: 35vw;
        --ellipse-y: 10em;
        
        height: 42em;
    }

    .player-grid-item {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        
        transition: --player-index 800ms ease-in-out;

        --angle: calc(360deg / var(--num-players) * var(--player-index) - 90deg);
        
        --sin-angle: sin(var(--angle));
        --cos-angle: cos(var(--angle));

        transform:
            translateX(calc(var(--cos-angle) * var(--ellipse-x)))
            translateY(calc(var(--sin-angle) * var(--ellipse-y)))
        ;

        z-index: calc(2 + 2 * var(--sin-angle));
    }
}