.player-view {
    display: inline-flex;
    flex-direction: row;

    border: 3px solid #2d1000ff;
    margin: 10px;
    padding: 0.5em;
}

.current-turn {
    border: 3px solid green;
}

.player-pocket {
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}