@media (max-width:1200px) {
    :root {
        --card-scale: 0.13;
        --card-margin: 0.15em;
    }

    .player-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: none;
        padding-bottom: 3em;
    }

    .player-grid-item {
        margin: 0.9em 0.3em;
    }

    .player-grid-item[player-index="0"] { grid-column: 1 / span 2; grid-row: 1; text-align: center; }

    .player-grid[num-players="2"] .player-grid-item[player-index="1"] { grid-column: 1 / span 2; grid-row: 2; text-align: center; }

    .player-grid[num-players="3"] .player-grid-item[player-index="2"] { grid-column: 1 / span 1; grid-row: 2; text-align: right; }
    .player-grid[num-players="3"] .player-grid-item[player-index="1"] { grid-column: 2 / span 1; grid-row: 2; text-align: left; }

    .player-grid[num-players="4"] .player-grid-item[player-index="3"] { grid-column: 1 / span 1; grid-row: 2; text-align: right; }
    .player-grid[num-players="4"] .player-grid-item[player-index="1"] { grid-column: 2 / span 1; grid-row: 2; text-align: left; }
    .player-grid[num-players="4"] .player-grid-item[player-index="2"] { grid-column: 1 / span 2; grid-row: 3; text-align: center; }

    .player-grid[num-players="5"] .player-grid-item[player-index="4"] { grid-column: 1 / span 1; grid-row: 2; text-align: right; }
    .player-grid[num-players="5"] .player-grid-item[player-index="1"] { grid-column: 2 / span 1; grid-row: 2; text-align: left; }
    .player-grid[num-players="5"] .player-grid-item[player-index="3"] { grid-column: 1 / span 1; grid-row: 3; text-align: right; }
    .player-grid[num-players="5"] .player-grid-item[player-index="2"] { grid-column: 2 / span 1; grid-row: 3; text-align: left; }

    .player-grid[num-players="6"] .player-grid-item[player-index="5"] { grid-column: 1 / span 1; grid-row: 2; text-align: right; }
    .player-grid[num-players="6"] .player-grid-item[player-index="1"] { grid-column: 2 / span 1; grid-row: 2; text-align: left; }
    .player-grid[num-players="6"] .player-grid-item[player-index="4"] { grid-column: 1 / span 1; grid-row: 3; text-align: right; }
    .player-grid[num-players="6"] .player-grid-item[player-index="2"] { grid-column: 2 / span 1; grid-row: 3; text-align: left; }
    .player-grid[num-players="6"] .player-grid-item[player-index="3"] { grid-column: 1 / span 2; grid-row: 4; text-align: center; }

    .player-grid[num-players="7"] .player-grid-item[player-index="6"] { grid-column: 1 / span 1; grid-row: 2; text-align: right; }
    .player-grid[num-players="7"] .player-grid-item[player-index="1"] { grid-column: 2 / span 1; grid-row: 2; text-align: left; }
    .player-grid[num-players="7"] .player-grid-item[player-index="5"] { grid-column: 1 / span 1; grid-row: 3; text-align: right; }
    .player-grid[num-players="7"] .player-grid-item[player-index="2"] { grid-column: 2 / span 1; grid-row: 3; text-align: left; }
    .player-grid[num-players="7"] .player-grid-item[player-index="4"] { grid-column: 1 / span 1; grid-row: 4; text-align: right; }
    .player-grid[num-players="7"] .player-grid-item[player-index="3"] { grid-column: 2 / span 1; grid-row: 4; text-align: left; }

    .player-grid[num-players="8"] .player-grid-item[player-index="7"] { grid-column: 1 / span 1; grid-row: 2; text-align: right; }
    .player-grid[num-players="8"] .player-grid-item[player-index="1"] { grid-column: 2 / span 1; grid-row: 2; text-align: left; }
    .player-grid[num-players="8"] .player-grid-item[player-index="6"] { grid-column: 1 / span 1; grid-row: 3; text-align: right; }
    .player-grid[num-players="8"] .player-grid-item[player-index="2"] { grid-column: 2 / span 1; grid-row: 3; text-align: left; }
    .player-grid[num-players="8"] .player-grid-item[player-index="5"] { grid-column: 1 / span 1; grid-row: 4; text-align: right; }
    .player-grid[num-players="8"] .player-grid-item[player-index="3"] { grid-column: 2 / span 1; grid-row: 4; text-align: left; }
    .player-grid[num-players="8"] .player-grid-item[player-index="4"] { grid-column: 1 / span 2; grid-row: 5; text-align: center; }

}