:root {
    --player-row-width: calc(var(--card-width) * 6.5);
    --player-self-width: calc(var(--card-width) * 11);
    --player-row-height: calc(var(--card-height) + 1.5em);
    --player-icon-size: 32px;
    --player-gold-size: 32px;

    --player-gold-bottom-unscaled: 333px;
    --player-gold-bottom: calc(var(--card-scale) * var(--player-gold-bottom-unscaled));
}

@media (max-width:1200px) {
    .player-view {
        --profile-pic-size: 25px;
        padding: 0.1em !important;
    }

    .player-view .lobby-user {
        font-size: 8pt;
    }

    :root {
        --player-icon-size: 20px;
        --player-gold-size: 20px;
        --player-row-width: calc(var(--card-width) * 5);
        --player-row-height: calc(var(--card-height) + 0.5em);
        --player-self-width: calc(var(--card-width) * 9.5);
    }
    
    .player-gold {
        font-size: 10pt;
    }
}

@media (min-width:1200px) {
    .player-gold {
        font-size: 16pt;
    }
}

.player-view {
    display: inline-flex;
    flex-direction: column;

    border: 3px;
    border-style: solid;
    border-color: #2d1000ff;
    background-color: #ffffff38;
    
    border-radius: 0.8em;
    padding: 0.5em;
    white-space: nowrap;
    width: var(--player-row-width);
}

.player-view-self {
    flex-direction: row;
    width: var(--player-self-width);
}

.current-turn {
    border-color: #4d7f21;
}

.player-winner {
    border-color: #bba14f;
}

.player-selected {
    border-color: red;
}

.player-targetable {
    border-color: #806c00ff;
}

.player-pocket-scroll {
    width: 100%;
    height: var(--player-row-height);

    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.player-character-row-scroll {
    width: calc(100% - var(--card-width-plus-margin));
    vertical-align: top;
    display: inline-block;

    overflow-x: auto;
    overflow-y: hidden;
}

.player-character-row-scroll-self {
    min-width: var(--card-width-plus-margin);
    max-width: calc(3 * var(--card-width));
    height: var(--card-height-plus-margin);
    overflow-x: auto;
    overflow-y: hidden;
}

.player-character-row-scroll-self .pocket-view {
    display: inline;
}

.player-top-row {
    position: relative;
    display: inline-block;
    text-align: left;
    height: var(--player-row-height);
}

.player-bottom-row {
    display: inline-block;
    text-align: left;
    height: 100%;
}

.player-backup {
    position: absolute;
    bottom: calc(var(--one-hp-size) * var(--player-hp));
    left: 0;
}

.player-backup-extra {
    position: absolute;
    top: calc(var(--one-hp-size) * 5);
}

.player-gold {
    position: absolute;
    bottom: var(--player-gold-bottom);
    left: calc(var(--card-width-plus-margin) / 2);
    width: var(--player-gold-size);
    height: var(--player-gold-size);
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
    background-image: url('/media/icon_gold.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.player-icons {
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    z-index: 9;
}

.player-propic {
    position: absolute;
    left: 50%;
    top: calc(var(--profile-pic-size) * -1);
    transform: translateX(-50%);
}

.player-propic-self {
    position: absolute;
    width: calc(100% - var(--card-width-plus-margin));
    bottom: calc(var(--card-height-plus-margin) + 0.5em);
    right: 0;
}

.player-view .lobby-username {
    background-color: #ffffc0;
    border-radius: 0.3em 0.3em;
    padding: 0.2em;
}

.player-icon {
    display: inline-block;
    height: var(--player-icon-size);
    width: var(--player-icon-size);
    mask-image: var(--icon-url);
    mask-size: contain;
    mask-repeat: no-repeat;
    background-image: var(--icon-url);
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: var(--icon-color);
}

.icon-winner {
    --icon-url: url('/media/icon_winner.png');
    --icon-color: #bba14f;
}

.icon-origin {
    --icon-url: url('/media/icon_origin.png');
    --icon-color: #7bf7ffff;
}

.icon-target {
    --icon-url: url('/media/icon_target.png');
    --icon-color: #ff0000ff;
}

.icon-turn {
    --icon-url: url('/media/icon_turn.png');
    --icon-color: #4d7f21;
}

.icon-dead {
    --icon-url: url('/media/icon_dead.png');
    --icon-color: #dedbd3;
}