:root {
    --player-width: calc(var(--card-width) * 6.5);
    --player-self-width: calc(var(--card-width) * 11);
    --player-height: calc(var(--card-height) * 2 + 4.5em);
    --player-icon-size: 32px;
    --player-gold-size: 32px;
    --player-lifepoint-size: 2.5em;
    --player-lifepoint-spacing: 1.5em;
    --player-icon-position: 0.5em;
    --player-padding: 0.5em;
}

@media (max-width:1200px) {
    .player-view {
        --profile-pic-size: 25px;
        --player-padding: 0.1em;
    }

    .player-view .lobby-user {
        font-size: 8pt;
    }

    :root {
        --player-icon-size: 20px;
        --player-gold-size: 20px;
        --player-lifepoint-size: 1em;
        --player-lifepoint-spacing: 0.7em;
        --player-icon-position: 0.2em;
        --player-width: calc(var(--card-width) * 5);
        --player-height: calc(var(--card-height) * 2 + 1.5em);
        --player-self-width: calc(var(--card-width) * 9.5);
    }
    
    .player-gold {
        font-size: 10pt;
    }
}

@media (min-width:1200px) {
    .player-gold {
        font-size: 16pt;
    }
}

.player-view {
    display: inline-flex;
    flex-direction: column;
    position: relative;

    --player-border-color: #2d1000ff;

    outline: 3px solid var(--player-border-color);
    background-color: #ffffff38;
    
    border-radius: 0.8em;
    white-space: nowrap;
    width: var(--player-width);
    height: var(--player-height);
    padding: var(--player-padding);
}

.player-view-self {
    width: var(--player-self-width);
}

.current-turn {
    --player-border-color: #4d7f21;
}

.player-winner {
    --player-border-color: #bba14f;
}

.player-selected {
    --player-border-color: red;
}

.player-targetable {
    --player-border-color: rgb(177, 123, 24);
    cursor: pointer;
}

.player-targetable:hover {
    --player-border-color: rgb(212, 167, 42);
}

.player-top-row {
    position: relative;
    display: flex;
    text-align: left;
    height: 100%;
}

.player-character {
    position: relative;
    display: flex;
}

.player-role {
    display: inline-block;
}

.player-view-self .player-role {
    min-width: min-content;
    max-width: calc(2.5 * var(--card-width));
    overflow-x: auto;
    overflow-y: hidden;
}

.player-hand {
    overflow-x: auto;
    overflow-y: hidden;
}

.player-hand-inner {
    display: inline-block;
}

.player-view-self .player-hand {
    display: flex;
    flex-grow: 1;

    overflow-x: unset;
    overflow-y: unset;
}

.player-table, .player-view-self .player-hand-inner {
    width: 100%;
    height: 100%;

    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.player-gold {
    position: absolute;
    left: 0.1em;
    bottom: 0.3em;
    transform: translateX(-50%);

    width: var(--player-gold-size);
    height: var(--player-gold-size);
    text-align: center;
    font-weight: bold;
    background-image: url('/media/icon_gold.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}

.player-lifepoints {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 1;
}

.player-top-row .player-lifepoints {
    bottom: 0;
}

.player-lifepoint {
    width: var(--player-lifepoint-spacing);
}

.player-lifepoint-inner {
    width: var(--player-lifepoint-size);
    transform: rotate(-60deg);
    filter: drop-shadow(0px 1px 1px black);
}

.player-icons {
    position: absolute;
    top: var(--player-icon-position);
    right: var(--player-icon-position);
    width: max-content;
}

.player-propic {
    position: absolute;
    left: 50%;
    top: calc(var(--profile-pic-size) * -0.95);
    transform: translateX(-50%);
}

.player-view .lobby-username {
    background-color: #ffffc0;
    border-radius: 0.3em 0.3em;
    padding: 0.2em;
}

.player-icon {
    display: inline-block;
    height: var(--player-icon-size);
    width: var(--player-icon-size);
    mask-image: var(--icon-url);
    mask-size: contain;
    mask-repeat: no-repeat;
    background-image: var(--icon-url);
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: var(--icon-color);
    pointer-events: none;
}

.icon-winner {
    --icon-url: url('/media/icon_winner.png');
    --icon-color: #bba14f;
}

.icon-origin {
    --icon-url: url('/media/icon_origin.png');
    --icon-color: #7bf7ffff;
}

.icon-target {
    --icon-url: url('/media/icon_target.png');
    --icon-color: #ff0000ff;
}

.icon-turn {
    --icon-url: url('/media/icon_turn.png');
    --icon-color: #4d7f21;
}

.icon-dead {
    --icon-url: url('/media/icon_dead.png');
    --icon-color: #dedbd3;
}

.icon-ghost {
    --icon-url: url('/media/icon_ghost.png');
    --icon-color: rgb(169, 189, 196);
}

.icon-skip-turn {
    --icon-url: url('/media/icon_skip_turn.png');
    --icon-color: #ff0000ff;
}

.icon-owner {
    /* TODO da capire */
    display: none;
    --icon-url: url('/media/icon_owner.png');
    --icon-color: #94a4af;
}

.icon-spectator {
    --icon-url: url('/media/icon_spectator.png'); 
    --icon-color: #94a4af;
}

.icon-disconnected {
    --icon-url: url('/media/icon_disconnected.png'); 
    --icon-color: #ff0000;
}

.icon-sheriff {
    --icon-url: url('/media/icon_sheriff.png'); 
    --icon-color: #dfcc29;
}

.icon-outlaw {
    --icon-url: url('/media/icon_outlaw.png'); 
    --icon-color: #e97070;
}

.icon-deputy {
    --icon-url: url('/media/icon_deputy.png'); 
    --icon-color: #afdf29;
}

.icon-renegade {
    --icon-url: url('/media/icon_renegade.png'); 
    --icon-color: #75a4da;
}