:root {
    --card-width-plus-margin: calc(var(--card-width) + 2 * var(--card-margin));
    --card-height-plus-margin: calc(var(--card-height) + 2 * var(--card-margin));
}

.pocket-view, .pocket-view-height {
    display: inline-block;
    height: var(--card-height-plus-margin);
    vertical-align: middle;
}

.count-pocket {
    display: inline-block;
    position: relative;
}

.align-slot .pocket-view {
    min-width: var(--card-width-plus-margin);
}

.align-slot .card-slot {
    position: absolute;
    left: 50%;
    bottom: var(--card-margin);
    transform: translateX(-50%);
}

.single-card-pocket {
    display: inline-block;
    position: relative;
}

.single-card-pocket .pocket-view {
    width: var(--card-width-plus-margin);
}

.single-card-pocket .card-view {
    position: absolute;
}

.stack-pockets {
    display: inline-block;
    position: relative;
}

.stack-pockets-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.single-card-pocket .card-slot {
    margin: unset;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.count-pocket-inner {
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}