.prompt-view {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    background-color: #ffffffc0;
    border: 3px solid #202020;
    border-radius: 0.8em;
    padding: 0.5em 0;

    z-index: 20;
}

.prompt-message {
    min-width: 30vw;
    text-align: center;
    font-size: large;
    font-weight: 500;
}

.prompt-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}