.lobby-list {
    display: flex;
    flex-direction: column;
    min-width: 10vw;
    width: fit-content;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.lobby-options-visible {
    transition: max-height 300ms ease-in-out, visibility 200ms step-end;
    max-height: 4em;
    overflow: hidden;
}

.lobby-options-collapsed {
    transition: max-height 300ms ease-in-out, visibility 300ms step-end;
    max-height: 0;
    overflow: hidden;
}

.lobby-element-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.2em;

    transition: border 300ms ease-in-out, background-color 300ms ease-in-out;

    border: 2px solid rgba(102, 36, 20, 0);
    background-color: #ffffff00;
    border-radius: 5px;
}

.lobby-element-wrapper-expanded {
    border: 2px solid rgba(102, 36, 20, 0.589);
    background-color: #ffffff33;
}

.lobby-element {
    display: flex;
    flex-direction: row;
}

.lobby-element div#lobby-name {
    font-weight: bold;
    padding-right: 1em;
    max-width: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
}

.lobby-element div#num-players {
    width: 2em;
}

.lobby-element div#lobby-state {
    width: 6em;
    text-align: center;
}

.lobby-password-input {
    margin: auto;
    width: fit-content;
}

.lobby-password-open {
    transition: max-height 300ms ease-in-out, visibility 200ms step-end;
    max-height: 4em;
    overflow: hidden;
}

.lobby-password-closed {
    transition: max-height 300ms ease-in-out, visibility 300ms step-end;
    max-height: 0;
    overflow: hidden;
}

.lobby-secure-icon {
    margin-left: 0.5em;
    width: 20px;
    height: 20px;
    background-image: url('/media/padlock.png');
}