.lobby-list {
    display: flex;
    flex-direction: column;
    min-width: 10vw;
    width: fit-content;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.lobby-options-visible {
    transition: max-height 300ms ease-in-out, visibility 200ms step-end;
    max-height: 4em;
    overflow: hidden;
}

.lobby-options-collapsed {
    transition: max-height 300ms ease-in-out, visibility 300ms step-end;
    max-height: 0;
    overflow: hidden;
}

.lobby-element-wrapper {
    display: flex;
    flex-direction: column;
}

.lobby-element {
    display: flex;
    flex-direction: row;
}

.lobby-element div#lobby-name {
    font-weight: bold;
    padding-right: 1em;
    max-width: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
}

.lobby-element div#lobby-button-join {
    padding-bottom: 0.4em;
}

.lobby-element div#num-players {
    width: 2em;
}

.lobby-element div#lobby-state {
    width: 6em;
    text-align: center;
}

.lobby-password-input {
    margin: auto;
    width: fit-content;
}

.lobby-password-open {
    transition: max-height 300ms ease-in-out, visibility 200ms step-end;
    max-height: 4em;
    overflow: hidden;
}

.lobby-password-closed {
    transition: max-height 300ms ease-in-out, visibility 300ms step-end;
    max-height: 0;
    overflow: hidden;
}

.lobby-secure-icon {
    margin-left: 0.5em;
    width: 20px;
    height: 20px;
    background-image: url('/media/padlock.png');
}