.lobby-list {
    display: flex;
    flex-direction: column;
    min-width: 10vw;
    width: fit-content;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.lobby-options-visible {
    transition: max-height 300ms ease-in-out, visibility 200ms step-end;
    max-height: 4em;
    overflow: hidden;
}

.lobby-options-collapsed {
    transition: max-height 300ms ease-in-out, visibility 300ms step-end;
    max-height: 0;
    overflow: hidden;
}

.lobby-element-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.2em;

    transition: border 300ms ease-in-out, background-color 300ms ease-in-out;

    border: 2px solid rgba(102, 36, 20, 0);
    background-color: #ffffff00;
    border-radius: 6px;
}

.lobby-element-wrapper-expanded {
    border: 2px solid rgba(102, 36, 20, 0.589);
    background-color: #ffffff33;
}

.lobby-element {
    display: flex;
    flex-direction: row;
}

.lobby-list-header {
    display: flex;
    flex-direction: row;
    margin: 0 calc(0.2em + 2px) 0.2em;
    padding-bottom: 0.2em;
    border-bottom: 2px solid rgba(70, 22, 0, 0.644);
}

.lobby-name {
    font-weight: bold;
    text-align: center;
    width: 10em;
}

.lobby-element .lobby-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.lobby-join-button {
    font-size: 10.5pt;
    padding-left: 0.7em !important;
    padding-right: 0.7em !important;
}

.player-count {
    width: 1.4em;
    text-align: center;
}

.lobby-list-header .player-count {
    cursor: help;
}

.lobby-state {
    margin-right: 0.5em;
    cursor: help;
}

.lobby-password-input {
    margin: auto;
    width: fit-content;
}

.lobby-password-open {
    transition: max-height 300ms ease-in-out, visibility 200ms step-end;
    max-height: 4em;
    overflow: hidden;
}

.lobby-password-closed {
    transition: max-height 300ms ease-in-out, visibility 300ms step-end;
    max-height: 0;
    overflow: hidden;
}