.move-cubes-animation {
    z-index: 15;
    pointer-events: none;
    --total-delay: calc(var(--duration) * 0.2);
    --delay-per-cube: calc(var(--total-delay) / var(--num-cubes));
}

.total-delay-0 {
    --total-delay: 0ms;
}

.move-cubes-animation-inner {
    position: fixed;
    left: var(--startX);
    top: var(--startY);
    animation-name: move-cube;
    animation-fill-mode: both;
    animation-duration: calc(var(--duration) - var(--total-delay));
    animation-delay: calc(var(--move-cube-index) * var(--delay-per-cube));
    transition: ease-in-out;
}

.move-cubes-animation-inner img {
    transform: translate(-50%, -50%);
}

@keyframes move-cube {
    to {
        transform: translate(var(--diffX), var(--diffY));
    }
}