.move-tokens-animation {
    z-index: 15;
    pointer-events: none;
    --total-delay: calc(var(--duration) * 0.2);
    --delay-per-token: calc(var(--total-delay) / var(--num-tokens));
}

.total-delay-0 {
    --total-delay: 0ms;
}

.move-tokens-animation-inner {
    position: fixed;
    left: var(--startX);
    top: var(--startY);
    animation-name: move-token;
    animation-fill-mode: both;
    animation-duration: calc(var(--duration) - var(--total-delay));
    animation-delay: calc(var(--move-token-index) * var(--delay-per-token));
    transition: ease-in-out;
}

.move-tokens-animation-inner .card-token {
    transform: translate(-50%, -50%);
}

@keyframes move-token {
    to {
        transform: translate(var(--diffX), var(--diffY));
    }
}