.move-card-animation {
    position: absolute;
    left: var(--startX);
    top: var(--startY);
    animation-name: move-card;
    animation-duration: var(--duration);
    animation-fill-mode: both;
    transition: ease-in-out;
    z-index: 15;
    pointer-events: none;
}

.card-anchor {
    width: 0;
    height: 0;
}

.card-anchor .card-view {
    margin: 0;
    width: max-content;
    height: max-content;
    transform: translate(-50%, -50%);
}

@keyframes move-card {
    to {
        transform: translate(var(--diffX), var(--diffY));
    }
}