body {
  background: radial-gradient(circle,
    rgb(201, 130, 83) 0%,
    rgb(170, 86, 35) 100%);
}

.current-scene {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
