.background {
  background-color: #b06130;
}

.background-inner {
  background: radial-gradient(circle,rgba(166, 67, 34, 0.6)  0%, rgba(46, 23, 9, 0.8) 100%);
}

.current-scene {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
