body {
  background: radial-gradient(circle,
    rgb(190, 140, 106) 0%,
    rgb(104, 60, 33) 100%);
}

.current-scene {
  flex-grow: 1;
  display: flex;
  min-height: 0;
  justify-content: center;
  align-items: center;
}

.current-scene > * {
  height: 100%;
}